<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <title>Document</title>
</head>
<body>
  <header>
    
    <div class="content">

      <div class="left-side">
        <div class="logo">
          <h2>Food <br> <span>delivery</span></h2>
        </div>
        <div class="search-input">
          <input type="text" placeholder="Search">
          <img src="../img/search.png" alt="">
        </div>
      </div>
      
      <div class="right-side">
        <ul class="menu">
          <li><a href="">Restaurants</a></li>
          <li><a href="">Deals</a></li>
          <li><hr></li>
          <li><a href="">My orders</a></li>
        </ul>
        <div class="account-buttons">
          <div>
            <a href=""><img src="../img/shopping bag.png" alt=""></a>
            <p>4</p>
          </div>
          <div>
              <a href=""><img src="../img/main-avatar.png" alt=""></a>
          </div>
          <hr>
          <div>
            <img src="../img/menu.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>

    <div class="content">

      <div class="specials-container">
        <div class="item">
          <div class="item-wrapper">
            <img src="../img/cake.png" alt="">
            <div>
              <div>
                <h3>All deserts</h3>
                <h1>20% OFF</h1>
              </div>
              <p>Deserty</p>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item-wrapper">
            <img src="../img/burger.png" alt="">
            <div>
              <div>
                <h3>Big Burgers</h3>
                <h1>50% OFF</h1>
              </div>
              <p>Foodies</p>
            </div>
          </div>
        </div>
        

      </div>

      <div class="filter-bar">
        <button class="food-button">
          <img src="../img/pizza.png" alt="">
          <p>Pizza</p>
        </button>
        <button class="food-button">
          <img src="../img/mini-burger.png" alt="">
          <p>Burger</p>
        </button>
        <button class="food-button">
          <img src="../img/meat.png" alt="">
          <p>BBQ</p>
        </button>
        <button class="food-button">
          <img src="../img/sushi.png" alt="">
          <p>Sushi</p>
        </button>
        <button class="food-button">
          <img src="../img/broccoli.png" alt="">
          <p>Vegan</p>
        </button>
        <button class="food-button">
          <img src="../img/mini-cake.png" alt="">
          <p>Deserts</p>
        </button>
      </div>

      <div class="restaurants-container">
        <p>Nearby restaurants</p>
        <div class="restaurants-box">

          <div class="restaurant">
            <img src="../img/royal-sushi.png" alt="">
            <div class="featured">
              <p>FEATURED</p>
            </div>
            <div class="restaurant-text-block">
              <div>
                <p>Royal Sushi House</p>
                <div>
                  <img src="../img/clock.png" alt="">
                  <p>30-40 min</p>
                  <img src="../img/Ellipse 1.png" alt="">
                  <p>$32 min sum</p>
                </div>
              </div>
              <a href=""><img src="../img/shopping bag1.png" alt=""></a>
            </div>
            <div class="food-tags">
              <div>
                <img src="../img/sushi.png" alt="">
                <p>Sushi</p>
              </div>
            </div>
          </div>

          <div class="restaurant">
            <img src="../img/burger-pizza.png" alt="">
            <div class="featured">
              <p>FEATURED</p>
            </div>
            <div class="restaurant-text-block">
              <div>
                <p>Burgers & Pizza</p>
                <div>
                  <img src="../img/clock.png" alt="">
                  <p>40-60 min</p>
                  <img src="../img/Ellipse 1.png" alt="">
                  <p>$24 min sum</p>
                </div>
              </div>
              <a href=""><img src="../img/shopping bag.png" alt=""><p>2</p></a>
            </div>
            <div class="food-tags">
              <div>
                <img src="../img/sushi.png" alt="">
                <p>Sushi</p>
              </div>
              <div>
                <img src="../img/mini-burger.png" alt="">
                <p>Burger</p>
              </div>
            </div>
          </div>

          <div class="restaurant">
            <img src="../img/ninja-sushi.png" alt="">
            <div class="restaurant-text-block">
              <div>
                <p>Ninja Sushi</p>
                <div>
                  <img src="../img/clock.png" alt="">
                  <p>20-40 min</p>
                  <img src="../img/Ellipse 1.png" alt="">
                  <p>$40 min sum</p>
                </div>
              </div>
              <a href=""><img src="../img/shopping bag1.png" alt=""></a>
            </div>
            <div class="food-tags">
              <div>
                <img src="../img/sushi.png" alt="">
                <p>Sushi</p>
              </div>
            </div>
          </div>

          <div class="restaurant">
            <img src="../img/sushi-master.png" alt="">
            <div class="restaurant-text-block">
              <div>
                <p>Sushi master</p>
                <div>
                  <img src="../img/clock.png" alt="">
                  <p>60-70 min</p>
                  <img src="../img/Ellipse 1.png" alt="">
                  <p>$49 min sum</p>
                </div>
              </div>
              <a href=""><img src="../img/shopping bag1.png" alt=""></a>
            </div>
            <div class="food-tags">
              <div>
                <img src="../img/sushi.png" alt="">
                <p>Sushi</p>
              </div>
            </div>
          </div>

          <div class="restaurant">
            <img src="../img/japanese-sushi.png" alt="">
            <div class="restaurant-text-block">
              <div>
                <p>Japanese sushi</p>
                <div>
                  <img src="../img/clock.png" alt="">
                  <p>30-50 min</p>
                  <img src="../img/Ellipse 1.png" alt="">
                  <p>$104 min sum</p>
                </div>
              </div>
              <a href=""><img src="../img/shopping bag1.png" alt=""></a>
            </div>
            <div class="food-tags">
              <div>
                <img src="../img/sushi.png" alt="">
                <p>Sushi</p>
              </div>
            </div>
          </div>

          <div class="restaurant">
            <img src="../img/kobe.png" alt="">
            <div class="restaurant-text-block">
              <div>
                <p>Kobe</p>
                <div>
                  <img src="../img/clock.png" alt="">
                  <p>20-30 min</p>
                  <img src="../img/Ellipse 1.png" alt="">
                  <p>$57 min sum</p>
                </div>
              </div>
              <a href=""><img src="../img/shopping bag1.png" alt=""></a>
            </div>
            <div class="food-tags">
              <div>
                <img src="../img/sushi.png" alt="">
                <p>Sushi</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>

  <script src="../js/home.js"></script>
</body>
</html>