<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="elem">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ex?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque corrupti voluptatum at delectus, 
      voluptates amet placeat! Maxime necessitatibus nam ea aliquid, facilis quos, iusto eum, ducimus voluptate tenetur voluptas.
    </p>
  </div>
  <script src="../script/ex12.js"></script>
</body>
</html>