<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/ex2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <title>Document</title>
</head>
<body>
  <div id="container">
    <h1>TASKS</h1>
    <h2 id="counter"></h2>
    <form class="task-form">
      <input type="text" class="task-input" placeholder="Add a task...">
      <button type="submit" class="add-button">Add</button>
    </form>
    <ul class="task-list">
      
    </ul>
  </div>
  <script src="../script/ex2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js" integrity="sha512-uWk2ZXl3GVrq6DZsrL5dSg1S/F3MNQ9VaDFigqXOoKUnWG58UxOuJGfTrzh5KjpoBvPiFniL2PahU2HUTFMJXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>