<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table, th {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <table id="table">
    <tr>
      <th>Name</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
    </tr>
  </table>
  <input type="text" id="input"><button id="addButton">Add User</button>
  <script src="../script/ex20.js"></script>
</body>
</html>