<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <li><a href="http://google.com">http://google.com</a></li>
    <li><a href="/tutorial">/tutorial.html</a></li>
    <li><a href="local/path">local/path</a></li>
    <li><a href="https://ftp.com/my.zip">https://ftp.com/my.zip</a></li>
    <li><a href="directory/page.html">http://nodejs.org</a></li>
  </ul>
  <script src="../script/ex7.js"></script>
</body>
</html>