<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <button id="start">Старт</button>
    <div>
      Д:<input type="text" id="days" value="" />
      Ч:<input type="text" id="hours" value="" /> 
      М:<input type="text" id="minutes" value=""/>
    </div>
    <div id="errorContainer"></div>
    <div id="display"></div>
  
  </div>
  <script src="../script/ex9.js"></script>
</body>
</html>