<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div>
      D:<input type="text" id="days" value="" />
      H:<input type="text" id="hours" value="" /> 
      M:<input type="text" id="minutes" value=""/>
    </div>
    <button id="start">Start</button>
    <button id="pause">Pause</button>
    <button id="stop">Stop</button>
    <button id="reset">Reset</button>
    <div id="errorContainer"></div>
    <div id="display"></div>
  
  </div>
  <script src="../script/ex9.js"></script>
</body>
</html>