@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Roboto:wght@400;700&display=swap');


body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

header {
  border-bottom: 1px solid #EDEEF2;
}

.content {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

header .content {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.left-side {
  display: flex;
  align-items: center;
}



.logo h2{
  font-weight: 800;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #2B2B43;
}

.logo h2 span {
  color: #4E60FF;
}
.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input input {
  margin-left: 3rem;
  width: 224px;
  height: 40px;
  background: #EDEEF2;
  border-radius: 12px;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.search-input img {
  position: absolute;
  right: 0.5rem;
}

.right-side {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 2rem;
}

.menu li a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.menu li:nth-child(2) {
  margin-right: 1rem;
}

.menu li:nth-child(3) {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 1.5rem;
}

.menu li hr {
  border: 1px solid #EDEEF2;
  height: 32px;
}

.account-buttons {
  display: flex;
  align-items: center;
}

.account-buttons div {
  width: 48px;
  position: relative;
  background: #F3F4FF;
  border-radius: 16px;
  padding: 14px;
  display: flex;
  margin-right: 0.5rem;
  cursor: pointer;
}

.account-buttons div p {
  position: absolute;
  top: -5px;
  right: 0;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 5px;
  background: #4E60FF;
  border-radius: 8px;
}

.account-buttons hr {
  display: none;
  border: 1px solid #EDEEF2;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 32PX;
}

.account-buttons div:nth-child(2) {
  padding: 1px;
  border: 2px solid #F3F4FF;
  background: #fff;
  margin-right: 0;
}

.account-buttons div:last-of-type {
  display: none;
  margin-right: 0;
  align-items: center;
}


.specials-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 3rem;
}

.item {
  width: 50%;
  background: #F3F4FF;
  border-radius: 16px;
}

.item:last-child {
  background: #FFF3ED;
}

.item-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-wrapper h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.item-wrapper h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #4E60FF;  
}

.item-wrapper div p {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
}

.item:last-child h1 {
  color: #FD6D22;
}



.filter-bar {
  gap: 2rem;
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.food-button {
  padding: 3px;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  background: #FFFFFF;
  border: 1px solid #EDEEF2;
  border-radius: 16px;
  cursor: pointer;
}

.food-button img {
  width: 24px;
  height: 24px; 
}

.food-button p {
  margin-top: 14px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #545563;
}

.food-button:hover {
  background: #F8F9FF;
  border: 1px solid #697BFF;
  border-radius: 16px;
}

.food-button:hover p {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #4E60FF;
}

.active {
  background: #F3F4FF;
  border: 2px solid #4E60FF;
  padding: 15px 16px;
}

.restaurants-container {
  margin-top: 2rem;
}

.restaurants-container p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.restaurants-box {
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.restaurant {
  position: relative;
  max-width: 33rem;
  background: #FFFFFF;
  border: 1px solid #EDEEF2;
  border-radius: 16px;
}

.featured {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  background: #4E60FF;
  border-radius: 0px 16px;
}

.featured p {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: #FFFFFF;  
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.restaurant img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.restaurant-text-block {
  width: 90%;
  margin: 1rem auto 0.5rem;
  display: flex;
  justify-content: space-between;
}

.restaurant-text-block div {
  display: flex;
  flex-direction: column;
}

.restaurant-text-block div p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

.restaurant-text-block div div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restaurant-text-block div div p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #83859C;
}

.restaurant-text-block div div img:first-of-type {
  width: 12px;
  height: 12px;
  margin-right: 0.3rem;
}

.restaurant-text-block div div img:last-of-type {
  width: 3px;
  height: 3px;
  margin: 0 0.4rem;
}

.restaurant-text-block a {
  position: relative;
}

.restaurant-text-block a img{
  width: 20px;
  height: 20px;
}
.restaurant-text-block a p{
  position: absolute;
  right: -8px;
  top: -6px;
  width: 16px;
  height: 16px;
  background: #4E60FF;
  border-radius: 6px;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: white;
  border: 1.5px solid #FFFFFF;
  border-radius: 6px;
}

.hide {
  display: none;
}

.food-tags {
  width: 90%;
  margin: 1rem auto;
  display: flex;
}

.food-tags div{
  margin-right: 0.4rem;
  display: flex;
  height: 24px;
  padding: 4px 10px;
  background: #EDEEF2;
  border-radius: 100px;
}

.food-tags div p {
  margin-left: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}

@media (max-width: 576px) {
  .search-input {
    display: none;
  }

  .menu {
    display: none;
  }

  .account-buttons hr {
    display: flex;
  }

  .account-buttons div:last-of-type {
    display: flex;
  }

  .specials-container {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

  .item-wrapper {
    margin-top: 1rem;
    flex-direction: column;
  }

  .item-wrapper img{
    order: 1;
  }

  .item-wrapper div {
    order: 0;
    display: flex;
    width: 100%;
  }

  .item-wrapper div p {
    margin-top: 0;
  }

  .item-wrapper div div {
    flex-direction: column;
  }

  .filter-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .food-button {
    width: 5rem;
    width: 100%;
  }

  .restaurants-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .search-input {
    display: none;
  }

  .menu {
    display: none;
  }

  .account-buttons hr {
    display: flex;
  }

  .account-buttons div:last-of-type {
    display: flex;
  }

  .specials-container {
    gap: 1rem;
  }

  .item-wrapper {
    align-items: flex-end;
  }

  .item-wrapper img {
    width: 53%;
  }

  .item-wrapper div {
    margin-top: 0.5rem;
  }

  .item-wrapper div p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .item-wrapper h3 {
    font-size: 1rem;
  }

  .item-wrapper h1 {
    font-size: 1.5rem;
  }

  .filter-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .food-button {
    width: 5rem;
    width: 100%;
  }

  .restaurants-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .search-input {
    display: none;
  }

  .menu {
    display: none;
  }

  .account-buttons hr {
    display: flex;
  }

  .account-buttons div:last-of-type {
    display: flex;
  }

  .specials-container {
    gap: 1rem;
  }

  .item-wrapper {
    align-items: flex-end;
  }

  .item-wrapper img {
    width: 53%;
  }

  .item-wrapper div {
    margin-top: 0.5rem;
  }

  .item-wrapper h3 {
    font-size: 1rem;
  }

  .item-wrapper h1 {
    font-size: 1.5rem;
  }

  .item-wrapper div p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .filter-bar {
    gap: 1rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px){

  .item-wrapper img {
    width: 53%;
  }

  .specials-container {
    gap: 2rem;
  }

  .filter-bar {
    gap: 2rem;
  }

  .item-wrapper div p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}