@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

.content {
  display: flex;
}

.left {
  width: 45%;
  height: 100vh;
  background-color: #FFF;
}

.right {
  width: 55%;
  height: 100vh;
  background-color: #697BFF;;
}

.login-content {
  width: 350px;
  margin: 0 auto;
}

.logo {
  margin-top: 1em;
}

.logo h2{
  font-weight: 800;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #2B2B43;
}

.logo h2 span {
  color: #4E60FF;
}

form {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
}

form h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.1px;
  color: #2B2B43;
}

form p {
  margin-top: 1em;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;  
}

.field {
  margin-top: 1.5em;
}

.field label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;  
}

.field input {
  border: 1px solid #C7C8D2;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859C;
  width: 100%;
  padding: 12px;  
}

.checkbox-container {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #2B2B43;  
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #C7C8D2;
  border-radius: 4px;
  margin-right: 12px;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
  background-color:#C7C8D2;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  content: "\002714";
  background-color:#C7C8D2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-buttons {
  margin-top: 1em;
}

.form-buttons button{
  margin-top: 2em;
  width: 100%;
}

.form-buttons button:first-child {
  padding: 12px;
  background: #4E60FF;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.form-buttons button:last-child {
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #4E60FF;
}

.sign-up-container {
  margin-top: 7em;
  display: flex;
  justify-content: center;
}

.sign-up-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #545563;
}

.sign-up-container p a {
  color: #4E60FF;
}

/* RIGHT SIDE */

.slider-content {
  position: relative;
  width: 44rem;
  height: 33rem;
  margin: 4em auto;
}

.card-content {
  width: 90%;
  margin: 1em auto;
}

.rating-card {
  position: absolute;
  left: 2rem;
  width: 20rem;
  background: #FFF;
  border: 0.894286px solid #EDEEF2;
  border-radius: 14.3086px;
  filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.3));
}

.rating-header {
  display: flex;
  justify-content: space-between;
}

.rating-header div {
  display: flex;
  flex-direction: column
}

.rating-header div p {
  font-weight: 700;
  font-size: 11.6257px;
  line-height: 16px;
  letter-spacing: 0.0894286px;
  color: #2B2B43;
}

.rating-header div div {
  display: flex;
  flex-direction: row;
  align-items: center ;
}

.rating-header div div div img {
  width: 12.5px;
  height: 12.5px;
}

.rating-header div div p:first-of-type {
  font-weight: 600;
  font-size: 17.8857px;
  line-height: 25px;
  letter-spacing: 0.0894286px;
  color: #4E60FF;  
  margin-right: 10px;
}

.rating-header div div p:last-of-type {
  font-weight: 700;
  font-size: 8.94286px;
  line-height: 13px;
  color: #83859C;  
  margin-left: 7px;
}

.rating-header button {
  padding: 10px 14px;
  font-weight: 700;
  font-size: 12.52px;
  line-height: 18px;
  letter-spacing: 0.268286px;
  color: #4E60FF;
  border: 0.894286px solid #4E60FF;
  border-radius: 7.15429px;
}

.rating-card hr {
  border: 1px solid #EDEEF2;
  width: 100%;
  margin-top: 1rem;
}

.filter-button {
  display: flex;
  justify-content: center;
}

.filter-button button {
  display: flex;
  align-items: center;
  border: 0.894286px solid #C7C8D2;
  border-radius: 7.15429px;
  padding: 7px;
}

.filter-button button p {
  font-weight: 600;
  font-size: 11.6257px;
  line-height: 16px;
  color: #2B2B43;
  margin-right: 1em;
}

.filter-button button p span {
  font-weight: 600;
  font-size: 11.6257px;
  line-height: 16px;
  color: #83859C;
}

.user {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.user img {
  margin-right: 10px;
  width: 32.19px;
  height: 32.19px;
}

.user-header p{
  font-weight: 700;
  font-size: 12.52px;
  line-height: 18px;
  letter-spacing: 0.0894286px;
  color: #2B2B43;  
}

.user-header div {
  display: flex;
  align-items: center;
}

.user-header div div {
  display: flex;
  margin-right: 0.5rem;
}

.user-header div p {
  font-weight: 700;
  font-size: 8.94286px;
  line-height: 13px;
  color: #83859C;
}

.user-header div div img {
  width: 12.5px;
  height: 12.5px;
  margin-right: 0;
}

.user-review {
  margin-top: 1rem;
}

.user-review p {
  font-weight: 400;
  font-size: 12.52px;
  line-height: 18px;
  letter-spacing: 0.0894286px;
  color: #2B2B43;
}

.user-rating {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.user-rating div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.user-rating div img {
  width: 14px;
  height: 14px;
}

.user-rating div p {
  font-weight: 600;
  font-size: 10.7314px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #545563;
}

.users hr {
  border: 0.894286px solid #EDEEF2;
  width: 100%;
}

.menu-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 618px;
  height: 132px;
  background: #FFFFFF;
  border: 0.846575px solid #EDEEF2;
  border-radius: 13.5452px;
  filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
}