<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>
<body>
  <div class="container">

    <!-- Analyze -->

    <div class="analyze">
      <div>
        <a href="../index.html"><img src="../img/Back-Arrow.png" alt=""></a>
        <h3>Analyze</h3>
        <div>&nbsp;&nbsp;</div>
      </div>
    </div>

    <!-- Graphic -->
    <div class="graphic">

      <div class="graphic-btn">
        <a href="">
          <p>Oct - Feb</p>
          <img src="../img/Down-Arrow.png" alt="">
        </a>
      </div>

      <div class="graphic-content">
        <img src="../img/Schedule.png" alt="">
        <div class="indicator">
          <div>
            <p>$ 4 600</p>
          </div>
          <img src="../img/Pointer.png" alt="">
        </div>
        <div class="months">
          <ul>
            <li>Oct</li>
            <li>Nov</li>
            <li>Dec</li>
            <li>Jan</li>
            <li>Feb</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Balance -->

    <div class="balance">
      <div>
        <p>Total balance</p>
        <h3>$1.924,35</h3>
      </div>
    </div>

    <!-- Transactions -->

    <div class="transactions">
      <div class="header">
        <h3>Transaction details</h3>
        <a href=""><p>View All</p></a>
      </div>
      <div class="content">
        <div class="item">
          <img src="../img/Dribble.png" alt="">
          <div class="item-text">
            <div>
              <p>Dribbble</p>
              <p>-$102,24</p>
            </div>
            <div>
              <p>13 jan 22</p>
              <p>3:24 PM</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="../img/Amazon.png" alt="">
          <div class="item-text">
            <div>
              <p>Amazon Shopping</p>
              <p>-$32.24</p>
            </div>
            <div>
              <p>12 jan 22</p>
              <p>2:35 PM</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="../img/Youtube.png" alt="">
          <div class="item-text">
            <div>
              <p>YouTube TV</p>
              <p>-$20</p>
            </div>
            <div>
              <p>9 jan 22</p>
              <p>6:10 PM</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="../img/Paypal.png" alt="">
          <div class="item-text">
            <div>
              <p>Paypal</p>
              <p>-$80</p>
            </div>
            <div>
              <p>7 jan 22</p>
              <p>7:00 PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <!-- Footer -->

    <footer>
      <ul>
        <li><a href=""><img src="../img/Home.png" alt=""></a></li>
        <li><a href=""><img src="../img/Bookmark.png" alt=""></a></li>
        <li><a href=""><img src="../img/Add.png" alt=""></a></li>
        <li><a href=""><img src="../img/Notifications.png" alt=""></a></li>
        <li><a href=""><img src="../img/Profile.png" alt=""></a></li>
      </ul>
    </footer>
  </div>
</body>
</html>