<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>
<body>

      <!-- Header Cards -->

      <div class="header">
        <div>
          <h2>Bank Cards</h2>
          <img src="../img/Avatar.png" alt="">
        </div>
      </div>

  <div class="container">
    <!-- Balance Cards -->

    <div class="balance-cards">
      <div>
        <p>Balance</p>
        <h4>$1.924,35</h4>
      </div>
    </div>

    <!-- Cards Display -->

    <div class="card-display">
      <div>
        <div class="card-item">
          <img src="../img/card2.png" alt="">
          <div>
            <p>5489 7654 3210 7894</p>
            <p>04/24</p>
          </div>
        </div>
        <div class="card-item">
          <img src="../img/hal-card.png" alt="">
        </div>
      </div>
      <div class="card-pages">
        <ul>
          <li><a href=""><img src="../img/card-pointer1.png" alt=""></a></li>
          <li><a href=""><img src="../img/card-pointer2.png" alt=""></a></li>
          <li><a href=""><img src="../img/card-pointer2.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <ul>
      <li><a href=""><img src="../img/Home.png" alt=""></a></li>
      <li><a href=""><img src="../img/Bookmark.png" alt=""></a></li>
      <li><a href=""><img src="../img/Add.png" alt=""></a></li>
      <li><a href=""><img src="../img/Notifications.png" alt=""></a></li>
      <li><a href=""><img src="../img/Profile.png" alt=""></a></li>
    </ul>
  </footer>
</body>
</html>